@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

.attribution {
	font-size: 11px;
	text-align: center;
	margin: 0;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

img {
	max-width: 100%;
}

body {
	display: grid;
	place-content: center;
	font-family: 'Libre Franklin', sans-serif;
}

section {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4rem;
}

.logo {
	width: 5rem;
	margin-bottom: 1.25rem;
}

.launching {
	margin-bottom: 0.25rem;
	font-weight: 300;
	color: hsl(0, 0%, 59%);
}

strong {
	font-weight: 700;
	color: hsl(209, 33%, 12%);
}

.subscribe {
	color: hsl(209, 33%, 12%);
	margin-bottom: 2rem;
	font-size: 14px;
}

input,
button {
	box-sizing: border-box;
	width: 100%;
	padding: 0.8rem;
	border-radius: 25px;
}

input {
	margin-bottom: 0.75rem;
	border: solid hsl(223, 100%, 88%) 1.5px;
	padding-left: 2rem;
	outline: none;
	position: relative;
}

input::placeholder {
	color: hsl(0, 0%, 59%);
	font-family: 'Libre Franklin', sans-serif;
	text-indent: 10px;
}

button {
	background-color: hsl(223, 87%, 63%);
	border: solid hsl(223, 87%, 63%) 1px;
	color: hsl(0, 0%, 100%);
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 600;
	font-size: 12px;
	margin-bottom: 4rem;
	box-shadow: 0 3px 15px hsla(0, 0%, 0%, 0.35);
	transition: all 0.3s;
}

.hidden {
	display: none;
}

form {
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 185px;
}

.no-bottom-margin {
	margin-bottom: 0;
}

.invalid-email-para {
	color: hsl(354, 100%, 66%);
	font-size: 12px;
	font-style: italic;
	align-self: center;
	margin-top: 6px;
	margin-bottom: 1.5rem;
}

.red-border {
	border-color: hsl(354, 100%, 66%);
}

button:focus,
button:hover {
	background-color: hsl(223, 82%, 67%);
	border-color: hsl(223, 82%, 67%);
	cursor: pointer;
	transition: all 0.3s;
}

a {
	text-decoration: none;
}

.footer {
	margin-top: 7.5rem;
}

.footer p {
	font-size: 12px;
	color: hsl(0, 0%, 59%);
}

.social-logo {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.social-logo i {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px;
	border: 1.5px solid hsla(0, 0%, 59%, 0.5);
	border-radius: 50%;
	width: 20px;
	height: 20px;
	margin-bottom: 1rem;
}

i {
	color: hsl(223, 87%, 63%);
	transition: all 0.3s;
}

i:focus,
i:hover {
	color: hsl(0, 100%, 100%);
	background-color: hsl(223, 87%, 63%);
	border-color: hsl(223, 87%, 63%);
	transition: all 0.3s;
}

@media screen and (min-width: 1020px) {
	section {
		width: 500px;
	}

	.launching {
		font-size: 2.5rem;
		margin-top: 1rem;
	}

	.subscribe {
		font-size: 17px;
	}

	form {
		width: 100%;
		display: flex;
		flex-direction: row;
		height: 100%;
		gap: 1rem;
	}

	input {
		width: 65%;
	}

	button {
		width: 35%;
	}

	input,
	button {
		height: 3rem;
	}

	.footer {
		margin-top: 4rem;
	}

	.social-logo i {
		width: 16px;
		height: 16px;
		margin-bottom: 0.5rem;
	}

	.invalid-email-para {
		align-self: baseline;
		position: absolute;
		margin-top: 3.5rem;
		margin-left: 1.6rem;
	}
}
